<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
  <div class="container-fluid">
       <!-- <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <p class="m-0 fw-bold" style="font-size: 25px;"><img [ngClass]="isDarkTheme ? 'dark-image' : 'light-image'"src="img/SRLogoPng.png" alt="" height="50px">
              SR <span style="color: #fb873f;"> Software Solutions</span></p>
        </a> -->
         <a href="/home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    
    <img 
      [ngClass]="isDarkTheme ? 'dark-image' : 'light-image'" 
      src="img/SRLogoPng.png" 
      alt="Logo" 
      height="50px" class="me-2"   />

    <!-- Text aligned with image -->
    <span class="fw-bold fs-4">
      SR <span class="title">Software Solutions</span>
    </span>
  </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-controls="mainNavbar"
      aria-label="Toggle navigation"
    >
      <mat-icon color="primary">{{ isNavbarCollapsed ? 'menu' : 'close' }}</mat-icon>
    </button>
    

    <div class="collapse navbar-collapse" [ngClass]="{ show: !isNavbarCollapsed }" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"  (click)="collapseNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" (click)="collapseNavbar()">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/courses" (click)="collapseNavbar()">Courses</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/testimonial" (click)="collapseNavbar()">Testimonial</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact" (click)="collapseNavbar()">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" (click)="collapseNavbar()">Login</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <button
            mat-icon-button
            (click)="toggleTheme()"
            [attr.aria-label]="isDarkTheme ? 'Switch to light mode' : 'Switch to dark mode'"
            class="nav-link p-0 border-0 bg-transparent"
          >
            <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
