<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ul class="carousel-indicators" style="list-style: none;">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/carousel-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-overlay position-absolute top-0 start-0 w-100 h-100"></div>
        <!-- Content -->
      <div class="carousel-caption text-start">
        <p class="text-info fw-bold">BEST ONLINE COURSES</p>
        <h1 class="display-4 fw-bold">Get Educated Online From Your <br />Home</h1>
        <p class="lead">Unlock a world of possibilities with eLearn. Enroll now to access our cutting-edge courses and elevate your learning experience!.</p>
        <div class="mt-4">
          <a class="btn btn-info text-white me-3" href="#">Read More</a>
          <a class="btn btn-info text-white" href="#">Enroll Now</a>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <img src="/carousel-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-overlay position-absolute top-0 start-0 w-100 h-100"></div>
        <div class="carousel-caption text-start">
            <p class="text-primary fw-bold">BEST ONLINE COURSES</p>
            <h1 class="display-4 fw-bold">The Best Online Learning Platform</h1>
            <p class="lead">Welcome to eLearn, your gateway to limitless learning! Discover a world of knowledge with our wide range of courses designed to empower and inspire.</p>
            <a class="btn btn-info text-white me-3" href="#">Read More</a>
            <a class="btn btn-info text-white" href="#">Enroll Now</a>
        </div>
      </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  